/*General Styles*/
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primery-color: #111111;
    --background-color:#FAFAFA;

}
.body {
    font-family: var(--primery-font);
    color: var(--primery-color);
    background-color:var(--background-color);
}
.section {

}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

/*Header*/

.header {

}
.navigation {

}
.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    line-height: 1.1;
    letter-spacing: 0,03em;
    color: var(--black, #111);
}
.logo-chocolate {
    font-style: normal;

}
.logo-img {

}
.navigation-list {

}
.navigation-item {

}
.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0,02em;
    color: var(--black, #111);

}
.social-media-list {

}
.social-media-item {

}
.social-media-img {

}
.social-media-img:hover {
    color: #FD9222;
}
/*Hero section*/

.hero-section {

}
.hero-title {

}
.hero-list {

}
.hero-button-list {

}
.hero-button-item {

}

/*Beneits section*/

.benefits-section {

}
.benefits-list {

}
.benefits-item {

}
.benefits-title {

}
.benefits-desc {

}

/*Ingredients section*/

.ingredients-section {

}
.ingredients-title {

}
.taste {

}
.ingredients-list {

}
.ingredients-item {

}
.ingredients-img {

}
.ingredients-desc {

}
/*Made section*/

.made-section {

}
.made-title {

}
.made-img {

}
.made-subtitle {

}
.made-list {

}
.made-item {

}
.made-desc {

}
/*Products section*/

.products-section {

}
.products-title {

}
.products-list {

}
.products-item {

}
.products-img {

}
.products-subtitle {

}
.products-desc {

}
.products-price {

}
/*Sellers section*/

.sellers-section {

}
.sellers-title {

}
.sellers-list {

}
.sellers-item {

}
.sellers-img {

}
.sellers-subtitle {

}

/*Reviews section*/

.reviews-section {

}
.reviews-title {

}
.reviews-list {

}
.reviews-item {

}
.reviews-img {

}
.reviews-subtitle {

}
.reviews-desc {

}
.reviews-button {

}

/*Footer*/

.footer-section {

}
.footer-title {

}
.chocolate {

}
.footer-sm-list {

}
.footer-sm-item {

}
.footer-sm-img {

}
.contact-title {

}
.contact-info {

}
.contact-list {

}
.contact-item {

}
.footer-navigation {

}
.footer-nav-list {

}
.footer-nav-item {
    
}